<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Yükleme yapmak için kamera iznine ihtiyacımız var</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Yükleme yapmak için galeri iznine ihtiyacımız var</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Yükleme yapmak için mikrofon iznine ihtiyacımız var</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
